body{
    text-align: center;
}
h1{
    font-size: 40px;
    font-family: cursive;
    font-weight: 300;
}
#app{
    background-color: deeppink;
    height:800px;
        width:100%;
}
#games{
    background-color:darkturquoise;
    height:800px;
        width:100%;
}
#chatbot{
    background-color:darksalmon;
    height:800px;
        width:100%;
}
img{
    transition: transform .2s;
}
img:hover{
   transform: scale(0.9); 
}
.line{
    height:6px;
    background-color: aqua;
    width: 70px;
    margin: 8px auto;
}